<% include nav.ejs %>
<div class="statusTracker">
  <h6 class="unselected">1. Select</h6>
  <h6 class="unselected">2. Train</h6>
  <h6>3. Predict</h6>
</div>
<div class="progress updated">
  <div class="determinate select" style="width: 100%"></div>
</div>

<style>
	.line {
		stroke: blue;
		fill:none;
		stroke-width: 3;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: black;
		shape-rendering: crispEdges;
	}

	.axis text {
		font-size: 10px;
		font-family: sans-serif;
	}

	.text-label {
		font-size: 10px;
		font-family: sans-serif;
	}

</style>

<body>
	<div id="react-main-mount">
	</div>
	<div id="visualisation"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>

<script>
function linearRegression(y,x){

    var lr = {};
    var n = y.length;
    var sum_x = 0;
    var sum_y = 0;
    var sum_xy = 0;
    var sum_xx = 0;
    var sum_yy = 0;

    for (var i = 0; i < y.length; i++) {

        sum_x += x[i];
        sum_y += y[i];
        sum_xy += (x[i]*y[i]);
        sum_xx += (x[i]*x[i]);
        sum_yy += (y[i]*y[i]);
    }

    lr['slope'] = (n * sum_xy - sum_x * sum_y) / (n*sum_xx - sum_x * sum_x);
    lr['intercept'] = (sum_y - lr.slope * sum_x)/n;
    lr['r2'] = Math.pow((n*sum_xy - sum_x*sum_y)/Math.sqrt((n*sum_xx-sum_x*sum_x)*(n*sum_yy-sum_y*sum_y)),2);

    return lr;

};

// var yval = dataset.map(function (d) { return parseFloat(d.xHeight); });
// var xval = dataset.map(function (d) { return parseFloat(d.Ascendenti); });
//
//
// var lr = linearRegression(yval,xval);

var known_y = [1, 2, 3, 4];
var known_x = [5.2, 5.7, 5.0, 4.2];

var lr = linearRegression(known_y, known_x);
// now you have:
// lr.slope
// lr.intercept
// lr.r2


// now you have:
// lr.slope
// lr.intercept
// lr.r2
console.log(lr);

var svg = d3.select("body")
    .append("svg")
    .attr("width", 800)
    .attr("height", 800);

// var max = d3.max(dataset, function (d) { return d.OvershootingSuperiore; });
var myLine = svg.append("svg:line")
    .attr("x1", x(0))
    .attr("y1", y(lr.intercept))
    .attr("x2", x(5.7))
    .attr("y2", y( (5.7 * lr.slope) + lr.intercept ))
    .style("stroke", "black");

</script>
</body>
