<!doctype html>
<html>
<head>
  <head>
    <title>Machine Learning Analytics</title>
    <link href='/styles.css' rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Yellowtail' rel='stylesheet' type='text/css'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width" />
  </head>
  <meta charset="utf-8">
</head>
<body>
  <div id="overlay">
    <div id="close">X</div>
  </div>
  <nav>
    <div className="nav-wrapper">
      <!-- <a href="/" className="brand-logo center">Machine Learning</a> -->
      <a href="/" className="brand-logo center"><img className="brand-logo-img" src="/images/hypothesis.png"></a>
    </div>
  </nav>
