<% include nav.ejs %>
<div class="statusTracker">
  <h6 class="unselected">1. Select</h6>
  <h6>2. Train</h6>
  <h6 class="unselected">3. Predict</h6>
</div>
<div class="progress updated">
  <div class="determinate select" style="width: 66.666666666666666%"></div>
</div>

<div id="react-main-mount">
  <%- reactOutput %>
</div>

<div id="helpModal" class="modal">
  <div class="modal-content">
    <h4 class="modal-title">Ordinary Least Squares</h4>
    <div class="modal-wrapper">
      <p>1. Training data</p>
      <div>
    	   <div class="modal-wrapper-left">
           <img src="/images/regressionTraining.png">
         </div>
         <div class="modal-wrapper-right">
           <ul>
             <li>Two attributes</li>
             <li>No labels</li>
             <li>Valid JSON</li>
           </ul>
         </div>
      </div>
    <p>2. Submit</p>
  </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves btn-flat">Close</a>
  </div>
</div>

<script src="build/react.js"></script>
<script src="build/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script type="text/babel" src="client/OLS.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
  $(document).ready(function() {
    $('select').material_select();
    $('.modal-trigger').leanModal();
  });
</script>

</body>
</html>
