<% include nav.ejs %>
<div id="react-main-mount">
  <%- reactOutput %>
</div>

<script src="/submit.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

</body>
</html>
