/*#react-main-mount {
	padding-left:5%;
	padding-right:5%;
	padding-bottom:5%;
	padding-top: 1%;
}*/
/*@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=298ba44e-c6d3-4987-b624-841f299bf85d");
@font-face{
  font-family:"HelveticaNeueW01-Thin";
  src:url("Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix");
  src:url("Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix") format("eot"),url("Fonts/aff68211-86bb-476d-882e-f7a3face144c.woff2") format("woff2"),url("Fonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff"),url("Fonts/278bef59-6be1-4800-b5ac-1f769ab47430.ttf") format("truetype"),url("Fonts/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg");
}*/

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=b37ad82f-763a-4353-8b73-ebf69c03f6a7");
@font-face{
font-family:"HelveticaNeueW01-Thin";
src:url("Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix");
src:url("Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix") format("eot"),url("Fonts/aff68211-86bb-476d-882e-f7a3face144c.woff2") format("woff2"),url("Fonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff"),url("Fonts/278bef59-6be1-4800-b5ac-1f769ab47430.ttf") format("truetype"),url("Fonts/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg");
}

html, body {
  /*font-family: 'HelveticaNeueW01-Thin' !important;*/
	/*font-family:'HelveticaNeueW01-Thin' !important;*/
	font-family: 'Roboto' !important;
	background: #fafafa;
}

input.btn.waves-effect.waves-light:hover {
    box-shadow: none !important;
}


input.btn.waves-effect.waves-light {
    box-shadow: none !important;
}


/*#react-main-mount, #react-AlgorithmSelect-mount {
	padding: 5%;
}*/

#react-main-mount, #react-AlgorithmSelect-mount {
	padding: 3%;
}
.card-panel {
	padding: 10px;
	box-shadow: none !important;
	border: solid 1px #edeeee;
	border-bottom: solid 3px #edeeee;
}

.popupimg {
		width: 100%;
}

#OLS-mount {
	padding-left:5%;
	padding-right:5%;
	padding-bottom:5%;
	padding-top: 1%;
}

#model-title {
	text-align: center;
	/*padding-top: 4%;*/
	color: #2A6FA0;
  font-weight: 300;
}

.ols-predict-panel {
	width: 960px;
	margin: auto !important;
	margin-top: 50px !important;
	margin-bottom: 30px !important;
}

.ols-inner-container {
	width: 15%;
	margin: auto;
}

.ols-prediction {
	text-align: center;
	font-size: 32px;
	font-weight: 300;
}

.OLS-mount {
	padding-top: 2% !important;
}

#main-title {
	text-align: center;
}

nav {
	background-color: #2A6FA0 !important;
	text-align: center;
}

nav a {
	font-size: 45px;
	font-family: 'Yellowtail', cursive;
	text-shadow: black 2px 2px;
	word-spacing: .4em;
}

.errorMessage {
	color: red;
}

#algorithmTitle span {
	margin-left: 10px;
}

#algorithmTitle {
	margin-left: -10.875px !important;
}

.row.shiftRight {
	margin-left: 11.250px;
}

.errorContainer {
		margin-top: 50px;
}

.seoForm {
	display: none;
}

.loader {
	text-align: center !important;
	margin-top: 100px !important;
}

.loaderContainer {
	text-align: center !important;
	width: 100%;
}

.statusTracker {
	display: inline-block;
	text-align: center !important;
	width: 100%;
	margin-top: 50px;
}

.progress.updated {
	position: relative;
	height: 4px;
	display: block;
	width: 100%;
	background-color: rgba(234, 234, 234, 0.6);
	border-radius: 2px;
	margin: 0.5rem 0 1rem 0;
	overflow: hidden;
	width: 40%;
	margin: auto;
	margin-top: 10px;
}

.statusTracker h6 {
	display: inline;
	font-size: 20px;
	text-align: center !important;
	font-weight: 400;
	padding: 50px;
}

.unselected {
	opacity: 0.3 !important;
	font-weight: 300 !important;
}

.card.medium {
  height: 400px;
  width: 31%;
	margin: 1%;
	display: inline-block;
	box-shadow: none !important;
	border: solid 1px #edeeee;
	border-bottom: solid 3px #edeeee;
}

.algorithmType {
	bottom: 0px;
	position: absolute;
	/* text-align: center; */
	width: 100%;
	/*background: rgba(240, 240, 240, 0.6);*/
	color: black;
	padding: 10px;
	margin-bottom: 0px;
	padding-left: 20px;
}

nav {
	box-shadow: none !important;
}

@media only screen and (min-width: 0px) {
	.card.medium {
		width: 98%;
	}
	.statusTracker {
		display: none;
	}
}

@media screen and (min-width : 480px) {
	.card.medium {
		width: 48%;
	}
	.statusTracker {
		display: : none;
	}
}

@media screen and (min-width : 767px) {
	.flex-container {
	  display: -webkit-flex;
	  display: flex;
	  -webkit-justify-content: center;
	  justify-content: center;
	}
	.statusTracker {
		display: inline-block;
	}
}

.spinner-blue, .spinner-blue-only {
	border-color: #2A6FA0 !important;
}

/*.determine.select {
	width: 33%;
}*/

#algorithmTitle {
	color: #2A6FA0;
	margin: 0px;
}

body {
	transition: opacity .3s ease-out,-webkit-transform .3s ease-out;
	transition: transform .3s ease-out,opacity .3s ease-out;
	transition: transform .3s ease-out,opacity .3s ease-out,-webkit-transform .3s ease-out;
	/*transform: scale(0.9);*/
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	z-index: 5;
	display: none;
}

#help {
	color: #D1D1D1;
	width: 50px;
	-webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, transform 0.5s;
}

#help:hover {
	color: black;
	-webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, transform 0.5s;
	cursor: pointer;
}

#close {
	font-size: 48px;
	position: fixed;
	right: 30px;
	top: 30px;
	color: #b2b2b2;
}

#close:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  /*stroke: #000;*/
}

svg {
	display: block;
	margin: auto;
}

a img {
	width: 50px !important;
	margin-top: 8px !important;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

#visualisation {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

/*@media screen and (min-width : 1200px) {

}*/
