#react-main-mount, #react-AlgorithmSelect-mount {
	padding:5%;
}

#main-title {
	text-align: center;
}

nav {
	background-color: #2A6FA0 !important;
	text-align: center;
}

nav a {
	font-size: 45px;
	font-family: 'Yellowtail', cursive;
	text-shadow: black 2px 2px;
	word-spacing: .4em;
}

.errorMessage {
	color: red;
}

.card.medium {
  height: 400px;
  width: 31%;
	margin: 1%;
	display: inline-block;
}

@media only screen and (min-width: 0px) {
	.card.medium {
		width: 98%;
	}
}

@media screen and (min-width : 480px) {
	.card.medium {
		width: 48%;
	}
}

@media screen and (min-width : 767px) {
	.flex-container {
	  display: -webkit-flex;
	  display: flex;
	  -webkit-justify-content: center;
	  justify-content: center;
	}
}

#algorithmTitle {
	color: #2A6FA0;
	margin: 0px;
}

body {
	transition: opacity .3s ease-out,-webkit-transform .3s ease-out;
	transition: transform .3s ease-out,opacity .3s ease-out;
	transition: transform .3s ease-out,opacity .3s ease-out,-webkit-transform .3s ease-out;
	/*transform: scale(0.9);*/
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	z-index: 5;
	display: none;
}

#help {
	color: #D1D1D1;
	width: 50px;
	-webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, transform 0.5s;
}

#help:hover {
	color: black;
	-webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, transform 0.5s;
	cursor: pointer;
}

#close {
	font-size: 48px;
	position: fixed;
	right: 30px;
	top: 30px;
	color: #b2b2b2;
}

#close:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  /*stroke: #000;*/
}

svg {
	display: block;
	margin: auto;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

#visualisation {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

/*@media screen and (min-width : 1200px) {

}*/
